@{
    Layout = null;

    var seriesTitle = "The Amazing Spider-Man"
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Hello from the Detail View</h2>
    </div>
</body>
</html>
